@use "variables" as v;
@use "mixins" as m;


.levels {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;

	&__description {
		font-size: 32px;
		line-height: 30px;
		color: v.$black-color;
		margin: 25px 0 30px 0;
		text-align: center;
	}

	&__block {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 1000px;
		margin-bottom: 30px;
	}
}

.level {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	background-color: v.$background-light-color;
	max-width: 270px;
	max-height: 180px;
	cursor: pointer;
	user-select: none;

	&__name {
		font-size: 96px;
		color: v.$white-color;
		min-height: 75px;
		margin: 20px 25px 0 25px;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			font-size: 56px;
			margin: 0 40px;
		}
	}

	&__stars {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 15px 0 10px 0;
	}

}

.star-icon {
	display: block;
	width: 60px;
	height: 60px;
	fill: v.$black-color;
	margin: 0 3px;

	&.yellow {
		fill: v.$yellow-color;
	}
}

div.hide-block {
	display: none;
}

[data-columns="2"] {
	@include m.grid-layout(2);
}

[data-columns="3"] {
	@include m.grid-layout(3);
}

[data-columns="4"] {
	@include m.grid-layout(4);
}

[data-columns="5"] {
	@include m.grid-layout(5);
}

[data-columns="6"] {
	@include m.grid-layout(6);
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;

	@include m.respond-to("md") {
		position: relative;
	}

	&__container {
		display: grid;
		padding: 0 20px;
	}
}

.panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1025px;
	width: 100%;
	padding: 20px 30px;

	@include m.respond-to("md") {
		flex-direction: column;
		gap: 20px;
	}

	p {
		font-size: 36px;
	}
}

.button_goback {
	font-size: 36px;
	padding: 5px 42px;
	color: v.$background-dark-color;
	border-radius: 100px;
	border: 5px solid v.$background-dark-color;
	background-color: transparent;
	cursor: pointer;

	@include m.respond-to("md") {
		position: absolute;
    top: 10px;
    left: 10px;
	}
}

.card {
	width: 210px;
	height: 130px;
	margin: 10px;
	border-radius: 30px;
	position: relative;
	transition: transform 0.8s;
  	transform-style: preserve-3d;
	background-color: v.$background-light-color;
	cursor: pointer;
	user-select: none;

	&__back, &__front {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	&__front p {
		color: v.$white-color;
		font-size: 96px;
	}

	&__back {
		transform: rotateY(180deg);
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	&.active {
		transform: rotateY(180deg);

		.card__front p {
			visibility: hidden;
		}
	}
}